*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;

}
body{
    background: rgb(113, 59, 59);
    color: rgb(153, 14, 14);
    overflow: hidden;
     overflow-y: scroll;
}