.pbox-body{
   
    width: 19rem;
    height: 25rem;
    align-items: center;
    justify-content:flex-start;
    background-color: #363636; 
    margin: 30px 10px;
    border-radius: 10px;    
}
.normal{
    display: flex;
    flex-direction: column;
}
.reverse{
    display: flex;
    flex-direction: column;
}

.pimg_rev{
    width: 19rem;
    height: 13rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.pimg_nor{
    width: 19rem;
    height: 13rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.des_bx{
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    font-family: Poppins;
}
.pr-heading{
    color: var(--Solid-Heading-Dark-mode, #CCC);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin: 15px 0px;
}
.pr-des{
    color: var(--Solid-Heading-Dark-mode, #CCC);
font-family: Poppins;
font-size: 20px;
font-style: normal;
line-height: 26px; /* 144.444% */
text-align:justify;
}
.pr-tech{
    color: var(--Solid-Heading-Dark-mode, #CCC);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 10px;
}
.pbtn{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 14px;
    padding: 0px 10px;
}
.pbtn-prop{
    display: flex;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 26px;
    align-items: center;
    margin-bottom: 20px;
}
.pbtn_p_icon{  
    margin-right: 10px;
}
@media screen and (min-width:550px) and (max-width:850px) {
    .pbox-body{
        width: 30rem;
        height: 12rem;
        justify-content:flex-start; 
        margin: 20px 10px;  
    }
    .normal{
        flex-direction: row;
    }
    .reverse{
        flex-direction:row-reverse;
    }
    .pimg_rev{
        width: 15rem;
        height: 12rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 10px;
    }
    .pimg_nor{
        width: 15rem;
        height: 12rem;
        border-top-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }
    /* } .pimg{
        width: 15rem;
        height: 12rem;
        border-top-right-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; 
    } */
    .des_bx{
        justify-content: space-between;
        padding: 5px 10px;
    }
    .pr-heading{
        font-size: 18px;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .pr-des{
    font-size: 14px;
    font-style: normal;
    line-height: 20px; /* 144.444% */
    text-align:justify;
    }
    .pr-tech{
    font-size: 13px;
    }
    .pbtn{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin-top: 14px;
        padding: 0px 5px;
    }
    .pbtn-prop{
        font-size: 12px;
        margin-bottom: auto;
    }
    .pbtn_p_icon{  
        margin-right: 5px;
    }
}

@media screen and  (max-width:550px){
    .pbox-body{
        width: 20rem;
        height: auto;
        align-items: center;
        background-color: #363636; 
        margin: 20px 10px;
        border-radius: 0px;    
    }
    .pimg_rev{
        display: none;
    }
    .pimg_nor{
        display: none;
    }
    .des_bx{
        padding: 0px 20px;
    }
    .pr-heading{
        font-size: 25px;
        margin-top: 30px;
        font-weight: bold;
    }
    .pr-des{
        display: none;
    }
    .pr-tech{
        font-size: 15px;
    margin: 10px 0px;
    line-height: 20px;
    }
    .pbtn{
       
        margin: 20px 10px;
        padding: 0px 0px;
        text-decoration-line: none;
    }
    .pbtn-prop{
        font-size: 9px;
        margin-bottom: 5px;
    }
    .pbtn_p_icon{  
        margin-right: 3px;
        display: none;
    }
    .WG{
        padding: 3px 7px;
        background-color: #28e98c;
    color: var(--Button-text, black);
    border-radius: 0.3rem;
    font-size: 12px;
    }
}