.head_text{
    color: rgba(204, 204, 204, 1);
    text-align: left;
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.4px;
margin: 20px 0px;
background: linear-gradient(90deg, #ffffff 0%, #13B0F5 66%, #E70FAA 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.head_text2{
    color: #9d9d9d;
text-align: left;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin: 10px 0px 20px;
}
@media  screen and (max-width:550px) {
    .head_text{
    text-align:center;
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0px;
    }
    .head_text2{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin: 2px 0px;
    }
}
@media  screen and (min-width:550px) and (max-width:750px){
    .head_text{
    text-align:left;
    font-size: 30px;
    font-weight: 600;
    }
    .head_text2{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px;
    }
}
.c-heading{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px ;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.s-heading{
    display: flex;
    text-align:left;
    
}